.btn__close{position:absolute; right: -10px; top:-10px; border:1px solid #000; background-color:#fff; border-radius:20px; opacity:1 !important; height:25px; width:25px; padding:0px;
background-size:9px;
}