.header__banner__main{position:relative; padding:20px 30px 30px; overflow:hidden; background-repeat:no-repeat; background-color:#fff; max-height:1080px;
border-bottom:1px solid #e7e7e7;}
.header__banner__main .image__box__outer{margin:0px auto; padding:0px; display:block; clear:both; position:relative; height:880px; max-width:1664px; background-image:url(../Image/banner-graphic-1.svg); background-repeat:no-repeat; background-position:center right 220px;}
.header__banner__main .image__box{overflow:hidden; height:100%; width:100%; margin:0px auto; padding:0px 0px 0px 0px; position:relative;max-width:100%;}
.header__banner__main .image__box img{height:100%; width:100%; object-fit:contain; object-position:bottom;}
.banner__gif__wrapp{width:100%; height:100%; margin-top:100px;}
.banner__gif__wrapp img{width:100% }
.header__banner__main .banner__content{margin:0px; padding:0px; text-align:center; position:absolute; left:0px; top:0px; background-color:transparent; height:100%; width:100%; display:flex; align-items:center;justify-content:center; z-index:2;}
.header__banner__main .banner__container__inner{margin:0px; padding:0px; position:relative; border-radius:10px; z-index:5; text-align:left; max-width:600px;}
.header__banner__main .banner__container__inner .divider__line{margin:0px 0px 10px 0px; padding:0px; display:block; clear:both;}
.header__banner__main .banner__container__inner .divider__line:before{width:108px; height:2px; background-color:#0082ED; margin:0px; padding:0px;
content:''; display:block;}
.header__banner__main .banner__container__inner .divider__line:after{width:75px; height:2px; background-color:#6A0DAD; margin:-12px 0px 0px; padding:0px;
content:''; display:block;}
.header__banner__main .banner__content h1{color:#414141; font-size:35px; padding:0px 0px; margin:0px 0px 30px; font-weight:700; text-transform:uppercase;}
.header__banner__main .banner__content h1 span{font-weight:300;}
.header__banner__main .banner__content p{color:#414141; font-size:18px; padding:0px; margin:30px 0px 30px; font-weight:400; max-width:533px;}
.header__banner__main .banner__content .lens__info{display:block; clear:both; margin:0px; padding:0px;}
.header__banner__main .banner__content .lens__info ul{display:flex; flex-wrap:wrap; list-style:none; margin:0px; padding:0px;}
.header__banner__main .banner__content .lens__info ul li{display:flex; flex:0 0 50%; align-items:center; margin:30px 0px;}
.header__banner__main .banner__content .lens__info ul li p{color:#414141; font-size:18px; padding:0px; margin:0px 10px; font-weight:500; max-width:100px;}
.header__banner__main .banner__content .lens__info ul li i.ico__box{height:42px; width:42px;}
.header__banner__main .banner__content .lens__info ul li i.ico__box img{width:100%; height:100%;}
.header__banner__main .banner__content .banner__btn__wrapp{display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; margin-top:0px;}
.header__banner__main .banner__content a.banner__btn{font-size:18px; color:#fff; text-transform:uppercase; font-weight:400; background-color:#ea332a; height:55px; display:flex; align-items:center; justify-content:center;
text-align:center; margin:0px; padding:0px 35px; border-radius:55px; position:relative;}
.header__banner__main .banner__content a.banner__btn i.ico__box{width:28px; height:28px; display:flex; align-items:center; justify-content:center; margin-left:15px;}
.header__banner__main .banner__content a.banner__btn i.ico__box img{width:100%;}
.header__banner__main .banner__content a.banner__btn:hover{background-color:#000;}
.header__banner__main .banner__content .image__box{max-width:unset; height:auto;}
.header__banner__main .banner__content .image__box img{width:auto; height:auto; object-fit:unset;}
.header__banner__main .banner__content .btn__wrapp{display:flex; align-items:center; margin-top:50px;}
.header__banner__main .banner__content .btn__wrapp a{background-color:#0082ED; border-radius:5px; font-size:16px; text-transform:uppercase;  letter-spacing:0.5px; color:#fff; width:185px; height:55px; display:flex; align-items:center; justify-content:center;}
.header__banner__main .banner__content .btn__wrapp a:hover{background-color:#fff;}
.header__banner__main .banner__content .btn__wrapp a .ico__box{display:flex; align-items:center; width:18px; margin-left:5px;}
.header__banner__main .banner__content .btn__wrapp a .ico__box svg{fill:#fff;}
.header__banner__main .banner__content .btn__wrapp a:hover{background-color:#6A0DAD;}
.header__banner__main .banner__content .btn__wrapp a:hover .ico__box svg{fill:#fff;}    


