.product__wrap{margin:0px; display:block; clear:both; padding:0px 0px; background-color:#fff;}
.center__heading__wrapp{text-align:center; display:block; clear:both; margin-bottom:45px;}
.center__heading__wrapp h2{font-size:45px; line-height:60px; color:#3e3e3e;}
.center__heading__wrapp p{max-width:610px; margin:0px auto;}
.product__wrap h3{font-size:18px; font-weight:700; margin-bottom:10px; text-transform:uppercase; text-align:center;}
.product__wrap .owl-carousel .owl-stage{display:flex;}
.product__wrap .owl-carousel .owl-stage .owl-item{display:flex; flex:1 0 auto; justify-content:center;}
.product__wrap .product__card{margin:25px 20px; padding:0px; display:flex; flex-direction:column; clear:both;}
.product__wrap .product__card .image__box{box-shadow:0px 0px 15px 0px rgba(0,0,0,0.10); padding:25px; border-radius:20px; border-color:transparent; border-width:2px; border-style:solid; transition:all .3s ease 0s; height:100%;}
.product__wrap .product__card .image__box:hover{border-color:#0082ED; transition:all .3s ease 0s;}
.product__wrap .product__card .product__content{margin-top:30px; height:100%; display:flex; flex-direction:column;}
.product__wrap .product__card .product__content .product__name__wrap{height:100%;  display:flex; flex-direction:column;}
.product__wrap .product__card .product__content .product__name__wrap h3{text-align:left; text-transform:none; margin-bottom:10px; text-align:left; font-size:28px; text-transform:uppercase; font-weight:400;}
.product__wrap .product__card .product__content .product__name__wrap h4{text-align:left; font-size:18px; margin:10px 0px; text-transform:uppercase;}
.product__wrap .product__card .product__content .product__name__wrap h4 a{font-size:20px; font-weight:500; color:#3e3e3e;}
.product__wrap .product__card .product__details{margin:0px 0px 45px; padding:0px; display:flex; align-items:flex-end;}
.product__wrap .product__card .product__details p{margin:0px; font-size:15px; padding-right:25px; overflow:hidden; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;} 
.product__wrap .product__card .product__details .price__meta{font-size:18px; text-transform:uppercase; font-weight:700;}

.product__wrap .product__card .product__details{ padding:0px; display:flex; align-items:flex-end; justify-content:space-between; flex-direction:column;}
.product__wrap .product__card .product__details p{margin:0px; font-size:15px; padding-right:25px;} 
.product__wrap .product__card .product__details .price__meta{display:flex; flex-direction:row; justify-content:space-between; width:100%; align-items: center}
.product__wrap .product__card .product__details .price__meta .original_price{font-size:18px;  font-weight:400; border-radius:10px; text-decoration: line-through; margin-right:20px;}
.product__wrap .product__card .product__details .price__meta .selling_price{font-size:20px;  font-weight:700; border-radius:10px; }  
.product__wrap .product__card .product__details .price__meta .original_price_single{font-size:20px;  font-weight:700; border-radius:10px; } 





.product__wrap .product__card .btn__wrap{display:flex; align-items:center; margin-top:auto;}
.product__wrap .product__card .btn__wrap a{background-color:#fff; border-radius:5px; font-size:15px; text-transform:capitalize; letter-spacing:0.5px; 
color:#000; width:165px; height:55px; display:flex; align-items:center; justify-content:center; border:2px solid #C8C8C8;}
.product__wrap .product__card .btn__wrap a:hover{background-color:#0082ED; border:none;}
.product__wrap .product__card .btn__wrap a .ico__box{display:flex; align-items:center; width:18px; margin-left:5px;}
.product__wrap .product__card .btn__wrap a .ico__box svg{fill:#000;}
.product__wrap .product__card .btn__wrap a:hover{color:#fff;}
.product__wrap .product__card .btn__wrap a:hover .ico__box svg{fill:#fff;}
