.notfound__content__wrap{margin-top:100px; min-height:70vh; display:flex; justify-content:center; align-items:center; flex-direction:column;}
.button__wrap{display:flex; justify-content:center; align-items:center;}
.button__text{color:#000; font-size:26px; position:relative; padding:10px 0; text-transform:unset; font-weight:600; height:100%;} 
