.navbar__top {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.navbar__top .navbar__brand {
    flex: 0 0 auto;
    margin-right: 0;
    padding: 15px 0;
}

.navbar__top .navbar__brand img {
    max-height: 55px;
    transition: all .6s ease-in-out;
}

.navbar__top .navbar__nav {
    margin: 0;
    flex: 1;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.navbar__top .navbar__nav li {
    margin: 0 20px;
    position: relative;
}

.navbar__top .navbar__nav li a {
    color: #000;
    font-size: 16px;
    position: relative;
    padding: 10px 0;
    text-transform: unset;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-decoration: unset;
}

.navbar__top .navbar__nav li a:hover {
    color: #00a3ff;
}

.navbar__top .navbar__nav li a:hover:after {
    animation: fadeIn .5s;
    opacity: 1;
}

.navbar__top .navbar__nav li .active {
    color: #00a3ff;
}


.navbar__top .user__info {
    margin: 0px 0px 0px auto;
    padding: 0;
    display: flex;
}

.navbar__top .user__info a {
    color: #fff;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    padding: 0px;
    display: flex;
    height: 50px;
    background-color: #0082ed;
    border-radius: 200px;
    width: 50px;
    transition: all .6s ease-in-out;
}

.navbar__top .user__info a i.ico__box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-in-out;
}

.navbar__top .user__info a i.ico__box img {
    height: 20px;
    width: 20px;
    transition: all .6s ease-in-out;
}

.navbar__top .user__info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar__top .user__info ul li {
    position: relative;
}

.navbar__top .user__info ul a {
    font-size: 14px;
    border-radius: 5px;
    width: auto;
    height: 35px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.navbar__top .user__info ul a:hover {
    background-color: #6A0DAD;
}

.navbar__top .user__info ul li.dropdown__main a {
    text-indent: -99999px;
    padding-right: 20px;
}

.navbar__top .user__info ul li.dropdown__main a i.ico__box {
    background-image: url(../../Image/user.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    max-width: 20px;
    flex: 0 0 20px;
    margin-left: 2px;
}

.navbar__top .user__info ul li.dropdown__main .dropdown__menu {
    border: 0px;
    min-width: 180px;
    border-radius: 0px 0px 5px 5px;
    padding: 0px;
    left: auto;
    right: 0px;
    margin-top: -2px;
    background-color: #0082ed;
}

.navbar__top .user__info ul li.dropdown__main .dropdown__menu li {
    margin: 0px;
    padding: 0px;
}

.navbar__top .user__info ul li.dropdown__main .dropdown__menu li a {
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    color: inherit;
    width: auto;
    height: auto;
    color: #fff;
    justify-content: space-between;
    text-indent: 0px;
    background-image: none;
}

.navbar__top .user__info ul li a.dropdown__toggle:after {
    border: 1px solid #fff;
    border-left: 0px;
    border-top: 0px;
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    max-width: 8px;
    flex: 0 0 8px;
    margin-top: -3px;
    margin-left: 10px;
}

.sticky {
    background-color: #F1F9FF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.sticky .navbar__brand img {
    max-height: 40px;
    transition: all .6s ease-in-out;
}

.sticky .user__info a {
    height: 40px;
    width: 40px;
}
.navbar__top .play__store__wrapp .play__store{
    display: flex;
    align-items: center;
}
.navbar__top .play__store__wrapp .play__store img {
    padding: 5px;
    height: 90%;
    width: 80%;
}

.navbar__top .user__info__login {
    margin: 0px 0px 0px auto;
    padding: 0;
    display: flex;
}

.navbar__top .user__info__login a {
    color: #fff;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    padding: 0px;
    display: flex;
    height: 50px;
    background-color: #0082ed;
    border-radius: 200px;
    width: 50px;
    transition: all .6s ease-in-out;
}

.navbar__top .user__info__login a i.ico__box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-in-out;
}

.navbar__top .user__info__login a i.ico__box img {
    height: 20px;
    width: 20px;
    transition: all .6s ease-in-out;
}


.navbar__top .user__info__login a {
    font-size: 14px;
    border-radius: 5px;
    width: auto;
    height: 35px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.navbar__top .user__info__login a:hover {
    background-color: #6A0DAD;
}



/* .navbar__top .user__info__login ul li.dropdown__main .dropdown__menu{border:0px; min-width:180px; border-radius:0px 0px 5px 5px; padding:0px; left:auto; right:0px; margin-top:-2px; background-color:#0082ed;}
.navbar__top .user__info__login ul li.dropdown__main .dropdown__menu li{margin:0px; padding:0px;}
.navbar__top .user__info__login ul li.dropdown__main .dropdown__menu li a{font-size:12px; padding:10px 15px; background-color:transparent; color:inherit; width:auto; height:auto; color:#fff; justify-content:space-between;}
.navbar__top .user__info__login ul li a.dropdown__toggle:after{border:1px solid #fff; border-left:0px; border-top:0px; transform:rotate(45deg); height:8px; width:8px; margin-top:-3px; margin-left:10px;} */