.story__details__main{padding:0px; margin:130px 0px;}
.story__details{display:flex; padding:0px 0px; margin:0px auto; max-width:1570px;}
.story__details .image__box{display:flex; justify-content:center; border:6px solid #f5f5f5; ; border-radius:100px; height:120px; width:120px; margin:0px auto;}
.story__details .image__box img{ border-radius:60px;  border:1px solid #EBEBEB; overflow:hidden;} 
.story__details .story__details__content{padding-left:20px; flex:1;}
.story__details .story__details__content h3{font-size:35px; font-weight:400; margin-bottom:20px; margin-top:20px;}
.story__details .story__details__content p{line-height:28px; margin-bottom:20px;} 
.story__details .story__details__content .story__media{display:flex; margin-left:-25px; margin-right:-25px; padding-left:0px; margin-top:70px;}
.story__details .story__details__content .story__media .media__card{margin:0px 25px; background-color:#0082ED; display:flex; align-items:center; justify-content:center; border-radius:5px; box-shadow:0px 0px 15px 0px rgba(0,0,0,0.10); width:350px; height:250px;}
.story__details .story__details__content .story__media .media__video{background-color:#A550E3;}