.login__wrap {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
    display: flex;
}

.login__wrapp__inner {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("../Image/login-bg.jpg") no-repeat center center fixed;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    filter: blur(5px);
    opacity: 0.6;
}

.login__holder {
    margin: 0px;
    padding: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login__holder .form__holder {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0px;
    max-width: 400px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    width: 400px;
    position: relative;
    overflow: hidden;
}

/* .login__holder .form__holder:before{border:10px solid #fff; left:0px; top:0px; height:100%; width:100%; position:absolute; content:''; border-radius:20px; opacity:0.1;} */
.login__holder .form__holder .form__holder__inner {
    position: relative;
    z-index: 1;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.login__holder .form__holder h2 {
    color: #414141;
    font-size: 35px;
    padding: 0px 0px;
    margin: 0px 0px 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.login__holder .form__holder h2 span {
    font-weight: 300;
}

.login__holder .form__holder .form__group {
    position: relative;
}

.login__holder .form__holder .form__control {
    height: 52px;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: all .3s ease 0s;
    color: #414141;
    box-shadow: none;
}

.login__holder .form__holder .form__control:focus {
    border-color: #0082ED;
}

.login__holder .form__holder .form__group label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    padding: 0px 10px;
    color: #999;
    transition: all .3s ease
}

.login__holder .form__holder .form__group input:focus+label,
.login__holder .form__holder .form__group input:valid+label {
    font-size: 12px;
    top: -10px
}

.login__holder .form__holder .form__group input:focus+label {
    color: #414141
}

.login__holder .form__holder .form__holder__inner__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.login__holder .form__holder .submit__btn {
    position: relative;
    background-color: #0082ED;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.login__holder .form__holder .form__holder__inner__footer a {
    font-size: 14px;
    text-transform: uppercase;
    color: #414141;
    border-bottom-color: #414141;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.login__holder .form__holder .form__holder__inner__footer a:hover {
    color: #0082ED;
    border-bottom-color: #0082ED;
}

.checkbox__custom {
    position: relative;
}

.styled__checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox__custom label {
    font-size: 14px;
    color: #414141;
    font-weight: 600;
}

.styled__checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0px;
    display: flex;
    align-items: center;
}

.styled__checkbox+label:before {
    content: "";
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

/* .styled__checkbox:hover+label:before{background-color:#0082ED;} */
.styled__checkbox:focus+label:before {
    box-shadow: none;
}

.styled__checkbox:checked+label:before {
    background-color: #0082ED;
    border-color: #0082ED;
}

.styled__checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled__checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled__checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background-color: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.login__holder .form__holder .form__group__select label {
    position: relative;
}

.login__holder .form__holder .form__control__selectpiker {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.login__holder .form__holder .form__group__select:after {
    border: 2px solid #888;
    border-left: 0px;
    border-top: 0px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 25px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    content: '';
    transform: rotate(45deg);
}