.contact__wrapp__inner{background-color:#fff; position:relative; float:inherit; margin-bottom:130px;}
.contact__wrapp__inner .content__holder{padding:0px 20px; margin:0px; display:block; clear:both;}
.contact__wrapp__inner .content__holder h2{font-size:40px; line-height:60px; font-weight:700; color:#3e3e3e; margin-bottom:20px;}
.contact__wrapp__inner .content__holder h2 span{font-weight:500;}
.contact__wrapp__inner .content__holder p{font-size:16px; line-height:30px; font-weight:400; color:#000; margin-bottom:15px;}
.contact__wrapp__inner .content__holder .form__wrapp h3{color:#f15b2b; font-size:16px; margin-bottom:20px;}
.contact__wrapp__inner .content__holder .form__wrapp h3 span{color:#3e3e3e;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group{margin:0px; padding:0px;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__group__inner{margin-bottom:20px;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control{height:52px; margin:0px; padding:15px;
background-color:#fff; border-radius: 5px; font-size:16px; transition:all .3s ease 0s; color:#0082ED;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group textarea.form__control{height:130px;}

.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:focus{-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:focus{outline:0px; border:1px solid #0082ED;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control::placeholder{color:#3e3e3e; opacity:1;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:-ms-input-placeholder{color:#3e3e3e;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control::-ms-input-placeholder{color:#3e3e3e;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:focus::placeholder{color:#fff; opacity:1;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:focus:-ms-input-placeholder{color:#fff;}
.contact__wrapp__inner .content__holder .form__wrapp .form__group .form__control:focus::-ms-input-placeholder{color:#fff;}

.contact__wrapp__inner .content__holder .form__wrapp .form__footer{display:flex;justify-content:flex-end;}
.contact__wrapp__inner .content__holder .form__wrapp .form__footer img{margin-right:30px;}
.contact__wrapp__inner .content__holder .form__wrapp .form__footer .submit__btn{background-color:#8E5FAF; color:#fff; border:0px;
text-transform:capitalize; font-size:15px; font-weight:500; width:165px; height:56px; border-radius:5px;}
.contact__wrapp__inner .content__holder .form__wrapp .form__footer .submit__btn:hover{background-color:#0082ED;}

.map__wrapp iframe{display:block; clear: both; margin:0px; padding:0px; overflow:hidden; max-height:975px; border-radius:30px 0px 30px 0px; }
