.loding_container {
    width: 100%;
    height: 100vh;
    background-color: #03030369;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}